node_modules
./laravel-vue-ts/node_modules
./laravel-vue-ts/.env
./laravel-vue-ts/.env.example
./laravel-vue-ts/public/hot
./laravel-vue-ts/public/storage
./laravel-vue-ts/storage/*.key
./laravel-vue-ts/vendor
./laravel-vue-ts/.env
./laravel-vue-ts/.env.backup
./laravel-vue-ts/.phpunit.result.cache
./laravel-vue-ts/Homestead.json
./laravel-vue-ts/Homestead.yaml
./laravel-vue-ts/npm-debug.log
./laravel-vue-ts/yarn-error.log
./laravel-vue-ts/.idea
./laravel-vue-ts/.vscode
./laravel-vue-ts/database/*.sqlite*
./laravel-vue-ts/storage/framework/*
./laravel-vue-ts/storage/framework/!data/
./laravel-vue-ts/storage/framework/sessions/*
./laravel-vue-ts/storage/framework/testing/*
./laravel-vue-ts/storage/framework/compiled.php
./laravel-vue-ts/storage/framework/config.php
./laravel-vue-ts/storage/framework/down
./laravel-vue-ts/storage/framework/events.scanned.php
./laravel-vue-ts/storage/framework/maintenance.php
./laravel-vue-ts/storage/framework/routes.php
./laravel-vue-ts/storage/framework/routes.scanned.php
./laravel-vue-ts/storage/framework/schedule-*
./laravel-vue-ts/storage/framework/services.json

